<div class="jumbotron col-md-12">
  <h2>Welcome To FeatureBoard</h2>
    <h3>Please Select an option from below</h3>
    <br /><br /><br /><br />
    <div class="col-md-6">
      <a ng-href="#/login">
        <input type="button" value="Login" class="btn btn-lg btn-primary pull-left">
      </a>
    </div>
    <div class="col-md-6" style="border-left: solid #000000">
      <a ng-href="#/register">
        <input type="button" value="Register" class="btn btn-lg btn-success pull-right">
      </a>
    </div>
</div>


